*{
    /*background-color:#e6e6fa; */
    margin:0;
    padding:0;
    /*box-sizing:border-box;*/
    font-size:100%;
    font-family: myFont;
}
p{
    font-size: 120%;
    padding: 0 2%;
    
}
h1,h2,h3,h4,h5,h6{
    color:pink;
    padding-left:2%;

}

h1{
    font-size:400%;
}
h3{
    font-size:300%;
}


/*----------- NAVI BAR -------------*/

.logo {
    padding:2vh;
    width:100px;
    height: auto;
}

/*  --------- MENIU DROPDOWN   -------*/

.dropdown{
    position:relative;
    /*display:inline-block;*/
    float:right;
    padding-right: 10px;
    padding-top:5px;
    font-size: 16px;

}

.dropdown-continut{
    display:none;
    position:absolute;
    background-color:aliceblue;
    min-width:65px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 12px;
    z-index:1;
}
.dropdown-continut ul{
    list-style: none;
    
}
.dropdown-continut li{
    padding:2px;
    
}
.dropdown-continut a{
color:rgba(236, 51, 60, 0.7);
text-decoration: none;
}

.dropdown-continut a:hover{
    color:rgba(196, 18, 27, 0.7);
    text-decoration: none;
   /* padding: 12px 16px;*/
    
    }
.dropdown:hover .dropdown-continut{
display:block;

}
.btn-dropdown{
    display:inline-block;
    padding:10px 30px;
    font-weight:300;
    text-decoration:none;
    padding-top: 2vh;
    border-radius: 30px;
    border: 1px solid rgba(236, 51, 60, 0.7);
    color:rgba(236, 51, 60, 0.7);
    background-color: aliceblue;
    font-size: 16px;
}
.btn-dropdown:hover{
    color:rgba(196, 18, 27, 0.7);
}

/*--------------------------FOOTER------------------------*/
.social-links li{
    /*display:inline-block;*/
    float:right;
    font-size: 200%;
    list-style: none;
    
}
.social-links a{
    color:rgba(92, 7, 92, 0.733);
}

footer{
    background-color: rgba(240, 248, 255, 0.712);
    padding-bottom:0;
    margin-bottom:0;
    height:6%;
}
@font-face {
    font-family: myFont;
    src: url("font/BLKCHCRY.TTF");
  }