
body{
    padding:0;
    border:0;
    background-color: rgba(72, 81, 88, 0.459);
}
 .body{
    padding:2%;
}
h4{
    font-size:30px;
}
header{
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0, 0, 0, 0.534)), url(imagini/cofetarie-cover.jpg);
    background-size:cover;
    background-position: center;
    height:100vh;
    margin-top:0;
    padding-top:0;
    z-index:-2;
    background-attachment: fixed;
}

.section-meals{
    padding:0;
}
.meals-showcase{
    list-style:none;
    width:100%;
    
}
.meals-showcase li{
    display:block;
    float:left;
    width:25%;
    padding:0;
}
.meal-photo{
    width:100%;
    margin:0;
    overflow:hidden;
    /*background-color:#000;*/
    
    /*background-image: url("imagini/ecleruri.png");*/
}
.meal-photo img{
    opacity:1;
    width:100%;
    max-height:300px;
    transform:scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover{
    transform:scale(1.03);
    opacity:0;
  
    
}
#cof1{
    background-image: url("imagini/bgcofetarie1.png");
}
#cof2{
    background-image: url("imagini/bgcofetarie2.png");
}
#cof3{
    background-image: url("imagini/bgcofetarie3.png");
}
#cof4{
    background-image: url("imagini/bgcofetarie4.png");
}
#cof5{
    background-image: url("imagini/bgcofetarie5.png");
}
#cof6{
    background-image: url("imagini/bgcofetarie6.png");
}
#cof7{
    background-image: url("imagini/bgcofetarie7.png");
}
#cof8{
    background-image: url("imagini/bgcofetarie8.png");
}

table {
    
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  .video div{
      padding-left: 30%;
  }
  